# Google OAuth 클라이언트 ID - 사용자 본인의 ID로 교환이 필요합니다(현재 테스트ID).
EXPO_PUBLIC_ANDROID_CLIENT_ID=861751141444-nnt7n7u7n7u7n7u7n7u7.apps.googleusercontent.com
EXPO_PUBLIC_IOS_CLIENT_ID=861751141444-nnt7n7u7n7u7n7u7n7u7.apps.googleusercontent.com
EXPO_PUBLIC_WEB_CLIENT_ID=861751141444-nnt7n7u7n7u7n7u7n7u7.apps.googleusercontent.com
